@import "./../../utils/scss/mixins";
@import "./../../utils/scss/colors";
@import "./../../utils/scss/global.scss";

.linux {
  @include container;
  display: flex;
  align-items: center;
  justify-content: center;
  .cardItemWrapper{
    @include calc-vw(margin-top, 100);
    @include calc-vw(width, 300);
    @include calc-vw(height, 300);
    @include calc-vw(margin-right, 20);
    background-color: $white;
    border-radius: 10px;
    :last-child{
      margin: unset;
    }
  }
}
